<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(#{updateOwner}, ~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners Form</title>
</head>
<body>

<form th:object="${owner}" method="post">
    <input th:replace="~{fragments/inputField :: input (#{firstName}, 'firstName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{lastName}, 'lastName', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{address}, 'address', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{city}, 'city', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{telephone}, 'telephone', 'text')}" />
    <button class="btn btn-outline-primary" type="submit" th:with="pageTitle=${owner.isNew()} ? #{addOwner} : #{updateOwner}" th:text="${pageTitle}">Add Owner</button>
</form>

</body>
</html>