<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(#{updatePet}, ~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Pets Form</title>
</head>
<body>
<!--/*@thymesVar id="pet" type="es.carlop.petclinic.model.Pet"*/-->
<!--/*@thymesVar id="owner" type="es.carlop.petclinic.model.Owner"*/-->
<form th:object="${pet}" method="post">
    <input type="hidden" name="id" th:value="*{id}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="#{owner}">Owner</h5>
            <p class="card-text" th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}">Owner</p>
        </div>
    </div>
    <input th:replace="~{fragments/inputField :: input (#{name}, 'name', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{birthDate}, 'birthDate', 'date')}" />
    <input th:replace="~{fragments/selectField :: select (#{petType}, 'petType', ${types})}" />
    <button class="btn btn-outline-primary" type="submit" th:with="pageTitle=${pet.isNew()} ? #{addPet} : #{updatePet}" th:text="${pageTitle}">Add Pet</button>
    </div>
</form>

</body>
</html>