<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(#{updatePet}, ~{::body}, 'pets')}">
<head>
    <meta charset="UTF-8">
    <title>Pets Form</title>
</head>
<body>
<!--/*@thymesVar id="pet" type="es.carlop.petclinic.model.Pet"*/-->
<!--/*@thymesVar id="owner" type="es.carlop.petclinic.model.Owner"*/-->
<form th:object="${pet}" method="post">
    <input type="hidden" name="id" th:value="*{id}">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="#{owner}">Owner</h5>
            <p class="card-text" th:text="${pet.owner.firstName + ' ' + pet.owner.lastName}">Owner</p>
        </div>
    </div>
    <input th:replace="~{fragments/inputField :: input (#{name}, 'name', 'text')}" />
    <input th:replace="~{fragments/inputField :: input (#{birthDate}, 'birthDate', 'date')}" />
    <input th:replace="~{fragments/selectField :: input (#{petType}, 'petType', ${types})}" />
    <div class="form-group row">
        <button class="btn btn-outline-primary" type="submit" th:with="pageTitle=${pet.isNew()} ? #{addPet} : #{updatePet}" th:text="${pageTitle}">Add Pet</button>
    </div>
</form>

<!--/*@thymesVar id="pet" type="es.carlop.petclinic.model.Pet"*/-->
<!--/*@thymesVar id="owner" type="es.carlop.petclinic.model.Owner"*/-->
<!--/*@thymesVar id="visit" type="es.carlop.petclinic.model.Visit" */-->

<h2>
    <th:block th:if="${visit.isNew()}">New </th:block>
    Visit
</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title" th:text="#{pet}">Pet</h5>
        <ul class="list-group list-group-flush">
            <li><span th:text="#{name}">Name</span><span th:text="${pet.name}">Coco</span></li>
            <li><span th:text="#{birthDate}">Birth Date</span><span th:text="${#temporals.format(pet.birthDate, 'dd/MM/yyyy')}">17/06/2018</span></li>
            <li><span th:text="#{petType}">Type</span><span th:text="${pet.petType}">Dog</span></li>
            <li><span th:text="#{owner}">Owner></span><span th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}">Me</span></li>
        </ul>
    </div>
</div>

<form th:object="${visit}" method="post">
    <div class="form-group">
        <input th:replace="~{fragments/inputField :: input (#{date}, 'date', 'date')}">
        <input th:replace="~{fragments/inputField :: input (#{description}, 'description', 'text')}">
    </div>
    <div class="form-group">
        <input type="hidden" name="petId" th:value="${pet.id}">
        <button class="btn btn-outline-primary" type="submit" th:text="#{addVisit}">Add Visit</button>
    </div>
</form>

<b>Previous Visits</b>
<table class="table table-striped">
    <thead>
    <tr>
        <th th:text="#{date}">Date</th>
        <th th:text="#{description}">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!visit['new']}" th:each="visit : ${pet.visits}">
        <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}">Date</td>
        <td th:text="${visit.description}">Description</td>
    </tr>
    </tbody>
</table>

</body>
</html>