<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(#{vetsTitle}, ~{::body}, 'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="es.carlop.petclinic.model.Vet"*/-->
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th th:text="#{name}">Name</th>
        <th th:text="#{specialities}">Specialities</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.firstName + ' '+ vet.lastName}">Joe Buck</td>
        <td th:switch="${#sets.size(vet.specialities)}">
            <th:block th:case="0" th:text="#{none}">None</th:block>
            <th:block th:case="*">
                <th:block th:each="speciality, iterStat : ${vet.specialities}" th:text="${iterStat.last}? ${speciality.description} : ${speciality.description + ', '}">Surgery</th:block>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
