<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, template, path)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Page title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="row">
            <a class="navbar-brand mb-0 h1" th:href="@{/}">🐶 Pet Clinic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" th:class="${path == 'front' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" th:href="@{/}" th:text="#{homeLink}">Home</a>
                    </li>
                    <li class="nav-item" th:class="${path == 'owners' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" th:href="@{/owners/find}" th:text="#{ownersLink}">Owners</a>
                    </li>
                    <li class="nav-item" th:class="${path == 'vets' ? 'nav-item active' : 'nav-item'}">
                        <a class="nav-link" th:href="@{/vets}" th:text="#{vetsLink}">Veterinarians</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/asdf}" th:text="#{errorLink}">Error</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
<div class="container">
    <div class="row">
        <h1 class="display-4" th:text="${title}">Page title</h1>
    </div>
</div>
</div>

<div class="container">
<div class="row">
    <th:block th:include="${template}" />
</div>
</div>

<footer>
<div class="container">
<div class="row">
    <p th:utext="#{footer}">Made by <a href="https://www.carlop.es">Carlos López</a> with SpringBoot.</p>
</div>
</div>
</footer>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
